name: Acquire Unity Activation File

on:
  workflow_dispatch: {}

jobs:
  activation:
    name: Request Unity Activation File
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Request activation file
      - name: Request manual activation file
        uses: game-ci/unity-request-activation-file@v2
        id: getManualLicenseFile
        with:
          unityVersion: 2022.3.0f1

      # Upload activation file
      - name: Expose as artifact
        uses: actions/upload-artifact@v4
        with:
          name: Unity_ALF
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}
